
@{
    ViewBag.Title = TransportWeb.Utils.Localization.getText(Context, "error");
}

<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">@TransportWeb.Utils.Localization.getText(Context, "error"):</span>
    @ViewBag.error
</div>

