
@{
    ViewBag.Title = "Index";
}

<a class="btn btn-default" href="/Transports" role="button">@TransportWeb.Utils.Localization.getText(Context, "transports")</a>
<a class="btn btn-default" href="/Stops" role="button">@TransportWeb.Utils.Localization.getText(Context, "stops")</a>

