
@{
    ViewBag.Title = "Index";
}
<div class="row" style="margin-top:20px;">
    <a class="btn btn-default" style="width:100%" href="/Transports" role="button">@TransportWeb.Utils.Localization.getText(Context, "transports")</a>
</div>
<div class="row" style="margin-top:20px;">
    <a class="btn btn-default" style="width:100%" href="/Stops" role="button">@TransportWeb.Utils.Localization.getText(Context, "stops")</a>
</div>
